:root{
    box-sizing: border-box;
}
*,
::before,
::after{
    box-sizing: border-box;
}
body{
    background-color: #FAFCFF;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.container{
    max-width: 80%;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius:15px;
    padding: 20px;
}
.form-logo{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.form h4{
    font-weight: inherit;
    text-align: center;
}
.form-group{
    display: flex;
}
.column{
    flex-direction: column;
}
.form-group .form-control{
    border: 1px solid #68A2FF;
    border-radius: 4px;
    width: calc(100% - 10px);
    padding: 10px;
    margin: 5px;
}
.form-group .form-control::placeholder{
    font-size: 1.2em;
}
.birthdate-input{
    display: flex;
}
select{
    border: 1px solid #68A2FF;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
textarea{
    border: 1px solid #68A2FF;
    border-radius: 4px;
    width: 100%;
    margin: 5px;
}
.address2{
    margin-top: 16px;
}
.cv h4{
    text-align: left;
}
.cv-input{
    padding: 10px;
    width: 100%;
}
.cv-input::placeholder{
    font-size: 1.2em;
}
button {
    cursor: pointer;
    background-color: #2176FF;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    width:100%;
}
button a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .form-group{
        display: flex;
        flex-direction: column;
    }
    .form-group .form-control{
        border: 1px solid #68A2FF;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        margin: 5px;
    }
    select{
        border: 1px solid #68A2FF;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        margin: 5px; 
    }
    textarea{
        border: 1px solid #68A2FF;
        border-radius: 4px;
        width: 100%;
        margin: 5px;
    }
    .birthdate-input{
        display: flex;
        width: 100%;
    }
    .cv-input{
        padding: 10px;
        width: 100%;
    }
    .cv-input::placeholder{
        font-size: 1.2em;
    }
    button{
        width: 100%;
    }
}